.ShoppingItemList {
    width: 100%;
    height: 100%;
    justify-items: center;
    overflow-y: auto;

    .emptyList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

        .IconButton {
            width: 32px;
            height: 32px;
        }

        .buttonWrapper {
            display: inline-block;
            margin: 0 4px;
        }
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    .bottombar {
        width: 100%;
        justify-items: end;
        background-color: var(--background-elevation-1);

        .IconButton {
            width: 32px;
            height: 32px;
        }
    }
}